@use "../../theme/colors.variables" as var;
@use "../../theme/breakpoint" as *;

$witdh_sidenav_colapsed: 40px;
$witdh_sidenav_expanded: 250px;
$size-icon: 18px;
$font-size: 14px;

.sidenav-wrapper {
  padding: 10px;
  background-color: var.$sidenav-background-color;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.298);

  @include viewport("md") {
    width: $witdh_sidenav_colapsed;
    transition: width 0.4s ease-in-out;
    min-height: 100dvh;
    padding: 0;
  }

  &.expanded {
    width: $witdh_sidenav_expanded;
  }
  .header {
    padding: 10px 11px 50px 11px;

    button {
      all: unset;
      cursor: pointer;

      .menu-icon {
        color: white;
        font-size: 20px;
      }
    }
  }

  nav > ul {
    display: flex;
    justify-content: space-around;
    gap: 25px 0;

    @include viewport("md") {
      flex-direction: column;
      color: white;
    }

    li {
      list-style: none;

      @include viewport("md") {
        width: 100%;
      }

      a {
        all: unset;
        cursor: pointer;
        display: flex;
        align-items: center;

        .icon-wrapper {
          display: flex;
          justify-content: center;
          width: $witdh_sidenav_colapsed;

          &.active {
            border-left: 2px white solid;
          }

          .icon-sidenav {
            color: white;
            font-size: $size-icon;
            text-decoration: none;
            padding-inline: 10px;
          }
        }

        .label-sidenav-item {
          display: none;

          @include viewport("md") {
            flex: 1;
            display: block;
            color: white;
            font-size: $font-size;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}
